doctype html
head
  title Video Compositions
  style
    include style.css
  script(
    src='https://cdn.socket.io/4.1.1/socket.io.min.js'
    integrity='sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a'
    crossorigin='anonymous'
  )

body.app
  h1 Video Compositions
  div#statusUpdate

  h2 Rooms with Compositions
  table
    tr
      th Room Name
      th Duration
      th Actions
    if rooms
      each room in rooms
        if room.compositions && room.compositions.length
          tr
            td= room.name
            td #{new Date(room.duration * 1000).toISOString().substr(11, 8)}
            td
              each composition in room.compositions
                li
                  button(class='button compositionAction' value=`/compositions/${composition.sid}/view`) View
                  button(class='button compositionAction' value=`/compositions/${composition.sid}/download`) Download
                  button(class='button compositionAction' value=`/compositions/${composition.sid}/delete`) Delete
  h2 Recent Rooms with Recordings
  table
    tr
      th Room Name
      th Duration
      th Actions
    if rooms.length
      each room in rooms
        tr
          td= room.name
          td #{new Date(room.duration * 1000).toISOString().substr(11, 8)}
          td
            button(class='button compositionAction' value=`/compose/${room.sid}` ) Compose

script.
  addEventListener('click', async (event) => {
    if (event.target.classList.contains('compositionAction')) {
      event.preventDefault();
      const response = await fetch(event.target.value);
      const responseJson = await response.json();
      if (responseJson.url) {
        window.location = responseJson.url;
      }
    }
  });

  const socket = io();

  socket.on('status-update', async (status) => {
    let statusText;

    switch (status) {
      case 'composition-request':
        statusText = 'Sent request for composition. âœ‰ï¸';
        break

      case 'composition-started':
        statusText = 'Composition has begun! ðŸ˜„';
        break

      case 'composition-available':
        statusText = 'Your composition is now available! ðŸŽ‰ Reloading in 3 seconds...'
        break

      case 'composition-progress':
        statusText = `Working... ðŸš§`
        break

      case 'composition-failed':
        statusText = 'Composition has failed. ðŸ˜ž'
        break

      case 'composition-deleted':
        statusText = 'Composition deleted. âœ… Reloading in 3 seconds...'
        break

      default:
        statusText = ''
        break
    }

    const statusUpdate = document.getElementById('statusUpdate');
    statusUpdate.innerText = statusText;

    if (status === 'composition-available' || status === 'composition-deleted') {
      setTimeout(() => {
        location.reload();
      }, 3000);
    }
  });
